.menu-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;

  .menu-image {
    width: 100%;
    max-width: 500px;
    margin: 0 2rem;

    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
      object-position: center;
    }
  }

  .menu-navigation {
    margin: 4rem 0;
  }

  .menu-section__content {
    margin: 2rem;
    max-width: 500px;
    width: 100%;

    h2 {
      text-align: center;
    }

    .menu-navigation {
      text-align: center;
    }
  }

  .card-container {
    h2 {
      color: var(--off-white);
      text-align: center;
    }

    .menu-item {
      text-align: left;
      color: var(--off-white);

      .menu-item__name {
        display: flex;
        justify-content: space-between;
        font-family: 'phosphate';
        font-size: 2.2rem;

        span {
          font-family: 'silom';
          font-size: 1.6rem;

          &.menu-item__diet {
            margin-right: auto;
            margin-left: 1rem;
          }
        }
      }
      .menu-item__description {
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  .menu-section {
    flex-direction: row-reverse;
  }
}
