:root {
  --off-black: #09111c;
  --off-white: #f1faee;
  --orange: #ffb703;
  --red: #b92834;
  --light-blue: #a8dadc;
  --dark-blue: #1d3557;
  --light-green: #a8dcb4;
  --blue: #457b9d;
  --vh: calc(100vh * 0.01);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'silom';
  overflow: auto;
  background-color: var(--off-white);
  color: var(--off-black);
  font-size: 16px;
}

h1,
h2 {
  font-family: 'Phosphate';
  color: var(--dark-blue);
  font-weight: normal;
  margin: 4rem 0;
  font-size: 3.2rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: bold;

  &:hover {
    background-color: var(--orange);
    color: var(--off-black);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

button {
  padding: 1rem;
  display: inline-block;
  border: 2px solid transparent;
  background-color: var(--blue);
  color: var(--off-white);
  cursor: pointer;
  margin: 0.5rem;
  box-shadow: 0 0 0.6rem rgba(black, 0.4);
  transition: 0.3s ease;

  &:hover {
    background-color: var(--dark-blue);
  }

  .selected,
  &:focus,
  &:active {
    border-color: var(--orange);
    background-color: var(--red);
    outline: none;
  }
}

p {
  line-height: 1.9;
  letter-spacing: 1.5pt;
}

@font-face {
  font-family: 'phosphate';
  src: url('../fonts/phosphate.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'silom';
  src: url('../fonts/silom.ttf') format('truetype');
  font-display: swap;
}
